In [1]:
import pandas as pd
import os

In [2]:
stocks = pd.read_csv('../staging_1/stocks/stocks.csv')
stocks

     store_id  product_id  quantity source             timestamp_saved
0           1           1        27     DL  2024-05-02 09:24:18.155034
1           1           2         5     DL  2024-05-02 09:24:18.155034
2           1           3         6     DL  2024-05-02 09:24:18.155034
3           1           4        23     DL  2024-05-02 09:24:18.155034
4           1           5        22     DL  2024-05-02 09:24:18.155034
..        ...         ...       ...    ...                         ...
934         3         309        30     DL  2024-05-02 09:24:18.155034
935         3         310         8     DL  2024-05-02 09:24:18.155034
936         3         311        23     DL  2024-05-02 09:24:18.155034
937         3         312        18     DL  2024-05-02 09:24:18.155034
938         3         313         0     DL  2024-05-02 09:24:18.155034

[939 rows x 5 columns]

In [3]:
file_path = '../Staging_2/Stocks/stocks.csv'

os.makedirs(os.path.dirname(file_path), exist_ok=True)
stocks.to_csv(file_path, index = False)